#canvas-wrap { 
    position:relative 
} 
#tutorial { 
    position:absolute; 
    top:20px; 
    left:500px; 
    background-color: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}
#canvas-wrap { 
    position:relative; 
    width:800px; 
    height:600px 
}
#canvas-wrap canvas { 
    position:absolute; 
    top:0; 
    left:0; 
    z-index:0 
}

#cnvs {
    border:1px solid #000000;
    display: block;
    margin: 0 auto;
}

button {
    margin:0 auto;
    display:block;
}